<!DOCTYPE html>
<html>
    <head>
        <title>PokeApp</title>
        <link rel="stylesheet" href="https://bootswatch.com/3/sandstone/bootstrap.min.css">
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Olá, bem vindo ao PokeApp!</h1>
            <p class="lead">Cadastre-se e comece a capturar os pokemons agora! Gotta Catch 'Em All</p>
            <hr class="my-4">
            <p>Todos os dados sobre os pokemons exibidos são da Pokéapi. Acesse: <a href="https://pokeapi.co/">https://pokeapi.co/</a></p>
            <a class="btn btn-primary btn-lg" href="/register" role="button">Cadastre-se</a>
            <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
        </div>
    </div>