<% include ../partials/header.ejs %>

<div class="well">
    <h2 style="text-align: center">Por favor, escreva o nome de usuário para recuperar sua senha</h2>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/forgot" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Enviar</button>
        </div>
        </form>
    </div>
</div>