<div class="container">
    <div style="width: 30%; margin: 25px auto;">
        <h2 style="text-align: center">Please sign in.</h2>
        <form action="/register" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" class="form-control" name="profileImg">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="aaa@email.com">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
    </div>
</div>