<% include ../partials/header.ejs %>

<ul class="list-group">
    <% pokemons.forEach(function(pokemon){ %>
        <li class="list-group-item">
            <form action="/catch" method="POST">
                <div class="row">
                <input type="text" hidden name="pokemon_name" value="<%= pokemon.pokemon_species.name %>">
                <% if (userPokemonsNames.includes(pokemon.pokemon_species.name)) { %>
                    <div class="col-lg-6">
                        <h4><%= pokemon.pokemon_species.name %></h4>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-warning" type="submit" disabled>Capturado</button>               
                    </div>
                <% } else { %>
                    <div class="col-lg-6">
                            <h4><%= pokemon.pokemon_species.name %></h4>
                    </div>
                    <div class="col-lg-6">
                            <button class="btn btn-success" type="submit">Capturar</button>              
                    </div>
                <% } %>
                </div>
            </form>
        </li>
    <% }) %>
</ul>