<h3>Catch your pokemon!</h3>

<ul>
    <% pokemons.forEach(function(pokemon){ %>
        <li>
            <p><%= pokemon.pokemon_species.name %></p>
            <form action="/catch" method="POST">
                <input type="text" name="pokemon_name" value="<%= pokemon.pokemon_species.name %>">
                <% if (userPokemonsNames.includes(pokemon.pokemon_species.name)) { %>
                    <button type="submit" disabled>Captured</button>               
                <% } else { %>
                    <button type="submit">Catch</button>
                <% } %>
            </form>
        </li>
    <% }) %>
</ul>