<% include ../partials/header.ejs %>

<ul class="list-group">
    <h4>Para escolher uma pokedex, clique no nome.</h4>  
    <% pokedexes.forEach(function(pokedex){ %>
        <li class="list-group-item">
            <a href="/catch/<%= region %>/<%=pokedex.name%>"><%= pokedex.name %></a>
        </li>
    <% }) %>
</ul>