<% include ../partials/header.ejs %>

<ul class="list-group">
<h4>Para escolher uma região, clique no nome.</h4>  
    <% regions.forEach(function(region){ %>
        <li class="list-group-item">
            <a href="/catch/<%= region.name %>"><%=region.name%></a>
        </li>
    <% }) %>
</ul>